.App {
  --header-height: 71px;
  --nav-width: 46px;
  --dafult-radius: 5px;
  background: #F9F9F9;
}

.App .main {
  display: flex;
  width: 100%;
  height: calc( 100% - var(--header-height) );
  background-color: red;
}